html, body {
  font-family: "Open Sans", sans-serif !important;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.siaji-dashboard-kit [data-animate=spin] {
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}
.siaji-dashboard-kit .dropstart ::before {
  display: none;
}
.siaji-dashboard-kit .flatpickr-day {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.siaji-dashboard-kit .dataTable thead th {
  position: relative;
}
.siaji-dashboard-kit .dataTable thead th.sorting_desc, .siaji-dashboard-kit .dataTable thead th.sorting_asc {
  background-image: unset !important;
}
.siaji-dashboard-kit .dataTable thead th:not(.sorting_disabled)::before, .siaji-dashboard-kit .dataTable thead th:not(.sorting_disabled)::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  right: 1rem;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 0.2;
}
.siaji-dashboard-kit .dataTable thead th:not(.sorting_disabled)::before {
  border-top: 4px solid #000;
  bottom: 0.75rem;
}
.siaji-dashboard-kit .dataTable thead th:not(.sorting_disabled)::after {
  border-bottom: 4px solid #000;
  border-top: 4px solid transparent;
  top: 0.75rem;
}
.siaji-dashboard-kit .dataTable thead th:not(.sorting_disabled).sorting_asc::after {
  opacity: 0.6;
}
.siaji-dashboard-kit .dataTable thead th:not(.sorting_disabled).sorting_desc::before {
  opacity: 0.6;
}
.siaji-dashboard-kit .dataTable tbody tr:first-child td {
  border-top: unset;
}
.siaji-dashboard-kit .dataTable tbody tr td {
  padding: 0.7rem 1.5rem;
}
.siaji-dashboard-kit .dataTable.no-footer {
  border-bottom: unset !important;
}
.siaji-dashboard-kit .dataTable.dtr-inline.collapsed .parent .dtr-control::before {
  content: "-";
  background-color: #ffdcdc;
}
.siaji-dashboard-kit .dataTable.dtr-inline.collapsed .dtr-control {
  position: relative;
  padding-left: 35px !important;
}
.siaji-dashboard-kit .dataTable.dtr-inline.collapsed .dtr-control::before {
  content: "+";
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  border-radius: 0.3rem;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  line-height: 1rem;
  background-color: #f1f4f6;
  color: #000;
  padding: 0.15rem;
}
.siaji-dashboard-kit .dataTable.dtr-inline .child li {
  margin-bottom: 0.5rem;
}
.siaji-dashboard-kit .dataTable.dtr-inline .child .dtr-title {
  display: block;
  font-weight: bold;
  min-width: 75px;
  font-size: 0.875rem !important;
}
.siaji-dashboard-kit .dataTable.dtr-inline .child .dtr-data {
  font-size: 0.875rem !important;
}
.siaji-dashboard-kit .card-body.p-0 .sa-datatable-intro {
  margin-top: 0.5rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem !important;
}
.siaji-dashboard-kit .card-body.p-0 .sa-datatable-info {
  margin-top: 0.5rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem !important;
}
.siaji-dashboard-kit .sa-datatable-intro {
  display: grid !important;
  align-items: center !important;
  grid-auto-flow: row !important;
  margin-bottom: 1rem;
}
.siaji-dashboard-kit .sa-datatable-intro label {
  margin-bottom: unset;
  text-align: left;
}
.siaji-dashboard-kit .sa-datatable-intro .dataTables_length label select {
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #293240;
  vertical-align: middle;
  background-color: #ffffff;
  border: 2px solid #ced4da;
  border-radius: 4px;
}
.siaji-dashboard-kit .sa-datatable-intro .dataTables_length label select:focus {
  border-color: #7267EF;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(114, 103, 239, 0.25);
}
.siaji-dashboard-kit .sa-datatable-intro .dataTables_filter input {
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #293240;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.siaji-dashboard-kit .sa-datatable-intro .dataTables_filter input:focus {
  border-color: #7267EF;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(114, 103, 239, 0.25);
}
@media (min-width: 768px) {
  .siaji-dashboard-kit .sa-datatable-intro {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}
.siaji-dashboard-kit .sa-datatable-info {
  display: grid !important;
  align-items: center !important;
  grid-auto-flow: row !important;
  margin-top: 1rem;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_info {
  padding: unset !important;
  font-size: 0.8rem;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate {
  padding: unset !important;
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate.paging_input span {
  position: relative;
  padding: 0 0.2rem;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate.paging_input span:first-child {
  border-radius: unset !important;
  border: unset !important;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate.paging_input span:last-child {
  border-radius: unset !important;
  border: unset !important;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate.paging_input .paginate_input {
  border-top: 1px solid #9ca3af;
  border-bottom: 1px solid #9ca3af;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50px;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .paginate_button, .siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .ellipsis {
  position: relative;
  display: inline-block !important;
  font-size: 0.8rem;
  color: #1f2937 !important;
  background-color: #fff !important;
  margin: 0 !important;
  padding: 0.5rem 1rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .paginate_button:not(.disabled):hover, .siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .ellipsis:not(.disabled):hover {
  color: #fff !important;
  background: #9ca3af !important;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .paginate_button.current, .siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .ellipsis.current {
  color: #fff !important;
  background: #1f2937 !important;
}
.siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .paginate_button.current:hover, .siaji-dashboard-kit .sa-datatable-info .dataTables_paginate .ellipsis.current:hover {
  color: #fff !important;
  background: #1f2937 !important;
}
@media (min-width: 1024px) {
  .siaji-dashboard-kit .sa-datatable-info {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .siaji-dashboard-kit .sa-datatable-info .dataTables_paginate {
    margin-right: unset;
  }
}
.siaji-dashboard-kit .dataTables_info {
  padding-left: unset !important;
  font-size: 0.8rem;
}
.siaji-dashboard-kit .dataTables_paginate {
  position: relative;
}
.siaji-dashboard-kit .dataTables_paginate .paginate_button, .siaji-dashboard-kit .dataTables_paginate .ellipsis {
  position: relative;
  display: inline-block !important;
  font-size: 0.8rem;
  color: #1f2937 !important;
  background-color: #fff !important;
  margin: 0 !important;
  padding: 0.5rem 1rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.siaji-dashboard-kit .dataTables_paginate .paginate_button:not(.disabled):hover, .siaji-dashboard-kit .dataTables_paginate .ellipsis:not(.disabled):hover {
  color: #fff !important;
  background: #9ca3af !important;
}
.siaji-dashboard-kit .dataTables_paginate .paginate_button.current, .siaji-dashboard-kit .dataTables_paginate .ellipsis.current {
  color: #fff !important;
  background: #1f2937 !important;
}
.siaji-dashboard-kit .dataTables_paginate .paginate_button.current:hover, .siaji-dashboard-kit .dataTables_paginate .ellipsis.current:hover {
  color: #fff !important;
  background: #1f2937 !important;
}
.siaji-dashboard-kit table thead tr:first-child th.sort {
  position: relative;
}
.siaji-dashboard-kit table thead tr:first-child th.sort::after, .siaji-dashboard-kit table thead tr:first-child th.sort::before {
  position: absolute;
  right: 1rem;
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  opacity: 0.25;
}
.siaji-dashboard-kit table thead tr:first-child th.sort.sort_asc::before {
  opacity: 1 !important;
}
.siaji-dashboard-kit table thead tr:first-child th.sort::before {
  border-bottom-color: #293240;
  top: 50%;
  margin-top: -0.75rem;
}
.siaji-dashboard-kit table thead tr:first-child th.sort.sort_desc::after {
  opacity: 1 !important;
}
.siaji-dashboard-kit table thead tr:first-child th.sort::after {
  border-top-color: #293240;
  bottom: 50%;
  margin-bottom: -0.75rem;
}
.siaji-dashboard-kit .choices[data-type*=select-one] .choices__inner {
  padding-bottom: unset !important;
}
.siaji-dashboard-kit .choices .choices__inner {
  padding: 5.5px 7.5px 3.75px !important;
}
.siaji-dashboard-kit .footer {
  bottom: 0;
  padding: 20px 10px;
  position: absolute;
  right: 0;
  color: #000;
  left: 0;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
}
