html, body {
    font-family: 'Open Sans', sans-serif !important;
}

.siaji-dashboard-kit {
    // Animation
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
    [data-animate="spin"]{
        animation: spin 1.5s linear infinite;;
    }

    // Bootstrap
    .dropstart {
        ::before {
            display: none;
        }
    }

    // Plugins
    // Flatpickr
    .flatpickr-day {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    // Footer
    .footer {
        bottom: 0;
        padding: 20px calc(20px / 2);
        position: absolute;
        right: 0;
        color: #000;
        left: 0;
        height: 60px;
        background-color: #fff;
        border-top: 1px solid #f1f1f1;
    }
}